* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1c1c1d;
  color: #fff;
  height: 100vh;
  padding: 2rem 4rem 0 4rem;
}
.cards {
  background: #fff;
  width: 300px;
  height: 300px;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
h3,
span,
p {
  font-size: 1rem;
  font-weight: 400;
}
.text-light {
  font-weight: 300;
}
.text-bold {
  font-weight: 500;
}
img {
  width: 30px;
  height: 30px;
}
.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mt-8 {
  margin-top: 4rem;
}
.gap-4 {
  gap: 4rem;
}
.flex {
  display: flex;
}
